body{
	background-color: black;
	font-family: arial;
}
.content{
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	width: 1300px;
}
.flex{
	display: flex;
}
h2{
	font-weight: bolds;
	font-size: 30px;
}
h1{
	margin-left: 100px;
	color: white;
}